In [29]:
from pprint import pprint
from collections import Counter

In [24]:
# lists

t = [ 3,4,5,6 ]
t

[3, 4, 5, 6]

In [29]:
t, t[0], t[len(t)-1], t[-1]

([3, 4, 5, 6], 3, 6, 6)

In [ ]:
t[0],t[0:0],t[0:2],t[0:-1],t[0:],t[:],t[-2:],t[:],t[::2],t[::-1]

(3,
 [],
 [3, 4],
 [3, 4, 5],
 [3, 4, 5, 6],
 [3, 4, 5, 6],
 [5, 6],
 [3, 4, 5, 6],
 [3, 5],
 [6, 5, 4, 3])

In [49]:
t=[1,2]
t.append(3)
t[1]=5
t

[1, 5, 3]

In [56]:
# tuples are immutable

q = (1,2)
r = [1,2]
z = list(q)
z.append(55)
q, list(q), tuple(r), tuple(z)

((1, 2), [1, 2], (1, 2), (1, 2, 55))

In [61]:
def x(z):
    return z,z*2
a,b = x(4)
a,b

(4, 8)

In [67]:
s = {1,2,3}
s.add(4)
s.add(4)
s

{1, 2, 3, 4}

In [69]:
t = list(set([1,3,2,5,2,3,5,6,7,3,5,3]))
t

[1, 2, 3, 5, 6, 7]

In [70]:
pet = {"name":"dorothy","age":11,"color":"white","food":"dog food"}
pet

{'name': 'dorothy', 'age': 11, 'color': 'white', 'food': 'dog food'}

In [72]:
pet["fav numbers"]=[3,4,2,1]
pet

{'name': 'dorothy',
 'age': 11,
 'color': 'white',
 'food': 'dog food',
 'fav numbers': [3, 4, 2, 1]}

In [ ]:
t = [1,2,3,5,6,7,9]

[1, 2, 3, 5, 6, 7, 9, 1, 2, 3, 5, 6, 7, 9]

In [13]:
t = [1,2,3,5,6,7,9]
x = [ item*2 for item in t ] 
z = [ item for item in t if item > 5 ]
y = [ item for item in [ item*2 for item in t ] if item > 5 ] # for demo purposes
x, z, y

([2, 4, 6, 10, 12, 14, 18], [6, 7, 9], [6, 10, 12, 14, 18])

In [16]:
t = [1,2,3,5,6,7,9]
{"###"+str(item):item*2 for item in t}

{'###1': 2,
 '###2': 4,
 '###3': 6,
 '###5': 10,
 '###6': 12,
 '###7': 14,
 '###9': 18}

In [18]:
squares = {item:item*item for item in t}
squares

{1: 1, 2: 4, 3: 9, 5: 25, 6: 36, 7: 49, 9: 81}

In [20]:
x = [4,16,36,64,100]  # <-- squares of even numbers in the set 1...10

3 % 2, 4 % 2

(1, 0)

In [ ]:
t = [13,4,34,62,31,5,9,8]
x = sorted(t, reverse=True)

print([x])

[[62, 34, 31, 13, 9, 8, 5, 4]]

In [25]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 88}
sorted_scores = sorted(scores.items(), key=lambda item: item[1], reverse=True)
print(sorted_scores)

[('Bob', 92), ('Charlie', 88), ('Alice', 85)]

In [26]:
x = lambda z: z*2
print(x(4))

8

In [27]:
print((lambda z: z*2)(2))

4

In [30]:
things = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
counter = Counter(things)
print(counter)

Counter({'banana': 3, 'apple': 2, 'orange': 1})

In [31]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
combined = list(zip(names, ages))
print(combined)

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [33]:
data = {name:score for name, score in zip(names, ages)}
print(data)

{'Alice': 25, 'Bob': 30, 'Charlie': 35}

In [ ]:
nested_collection = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = [item for sublist in nested_collection for item in sublist]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
[[item for item in row] for row in nested_collection]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
{outer_key: {inner_key: inner_value for inner_key, inner_value in inner_dict.items()} for outer_key, inner_dict in outer_dict.items()}

In [39]:
students = {
    "Alice": {"math": 85, "science": 92},
    "Bob": {"math": 78, "science": 81},
    "Charlie": {"math": 93, "science": 87, "chemistry": 90}
}

curved = {
    student: {subject: grade + 5 for subject, grade in subjects.items() if grade >= 90}
    for student, subjects in students.items() # if "chemistry" in subjects
}

print(curved)

{'Alice': {'science': 97}, 'Bob': {}, 'Charlie': {'math': 98, 'chemistry': 95}}